*{
    padding: 0;
    margin: 0;
    font-family: Rockwell;
}
main{
    width: 100%;
    height: 100vh;
    background: url(../images/bg_log.jpg) no-repeat #888;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}
form2 {
    width: 30%;
    height: 300px;
    padding: 30px;
    position: absolute;
    top: 70px;
    left: 30%;
    border: #0005 solid 2px;
    background: #ccc1;
}
h2 {
   
    font-size:3em;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.usr , .pass {
    font-family: Jost;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background: #0006;
    /* border: 1px solid #ccc; */
    
}
input::placeholder{
    color:#fff
}
.submit {
    font-family: Jost;
    background-color: #f90;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 40%;
   bottom: 20px;
    
}
.submit:hover {
    background-color: #f905;
}
form2 a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}
form2 a:hover{
    color: #f90;
}

/* Sign-up */

form {
    width: 30%;
    height: 420px;
    padding: 30px;
    position: absolute;
    top: 70px;
    left: 30%;
    border: #0005 solid 2px;
    background: #ccc1;
}
.usrname , .email , .password , .confirm-password{
    font-family: Jost;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background: #0006;
}
form a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}
form a:hover{
    color: #f90;
}
.signup-btn{
    font-family: Jost;
    background-color: #f90;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 40%;
    bottom: 20px;
}
.signup-btn:hover {
    background-color: #f905;
}